.clock {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;

  .clockTime {
    height: 150px;
    font-size: 100px;

    display: flex;
    justify-content: center;

    .period {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.87);
    }

    .breaker {
      margin-left: 3px;
      margin-right: 3px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 35px;

      .topColon {
        margin-bottom: 25px;
      }
    }

    .faded-text {
      color: #373737;
    }

    .faded-div {
      background-color: #373737;
    }
  }

  .prompt {
    min-height: 135px;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
  }

  .datasource div {
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    text-align: right;
  }
}
